doctype html
html
  head
    title= title
    meta(charset='utf-8')
    script(src='//use.typekit.net/gzj3faz.js')
    script try{Typekit.load();}catch(e){}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include includes/viewheader
    block content
  script(data-main= '/javascripts/' + js_path, src="/javascripts/lib/require.js")
