doctype html
html
  head
    title= title
    meta(charset='utf-8')
    script(data-main='/javascripts/require_config', src='/javascripts/lib/require.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include includes/viewheader
    block content
