extends layout

block content
  h1 Tell me about your round of training.

  form#log(method="post", data-currentphase="start")
    section.phase.start.current(data-phase='{"0":"start"}')
      div#startnow.button
        p Starting right now. I'll log results as I go.

      div#logprevious.button
        p I'm logging a previous training round.

    section.phase.setup(data-phase='{"1":"setup"}')
      div.field
        label(for='current_weight') How much do you weigh?
        input(type='text', name='current_weight', id='current_weight')

      div.field
        label(for='date') Date
        input(type='text', name='date', id='date')
      
      div.field
        label(for='day') Day
        select(name='day', id='day')
          option(value='sunday') Sunday
          option(value='monday') Monday
          option(value='tuesday') Tuesday
          option(value='wednesday') Wednesday
          option(value='thursday') Thursday
          option(value='friday') Friday
          option(value='saturday') Saturday

      div.field
        label(for='time') Time
        input(type='text', name='time', id='time')
        
    section.phase.exercise(data-phase='{"2":"exercise"}')
      div.field
        label(for='exercise_name') Which exercise are you doing?
        select(name='exercise_name', id='exercise_name')
          option(value='barbell_squats') Barbell squats
          option(value='chinups') Chinups
          option(value='ezbar_curls') Curls with EZ-bar
          option(value='dips') Dips
          option(value='dumbbell_curls') Dumbbell curls
          option(value='dumbbell_raises') Dumbbell raises
          option(value='flat_bench') Flat bench
          option(value='pullups') Pullups
          option(value='pushups') Pushups

      fieldset.exercise
        div#starttimer.button
          p Start the timer.

        div.field
          label(for='stretched_before') Stretched before?
          select(name='stretched_before', id='stretched_before')
            option(value='true') Yes
            option(value='false') No

        fieldset.set0
          legend Set 1
          div.field
            label(for='set0_weight') Weight
            input(name='set0_weight', id='set0_weight')

          div.field
            label(for='set0_reps') Reps
            input(name='set0_reps', id='set0_reps')

          div.field
            label(for='set0_rest') Rest
            input(name='set0_rest', id='set0_rest')
        
          div.field
            label(for='set0_comment') Comment
            textarea(name='set0_comment', id='set0_comment')
        
        div#addset.button
          p Add a set.

        div.field
          label(for='stretched_after') Stretched after?
          select(name='stretched_after', id='stretched_after')
            option(value='true') Yes
            option(value='false') No

      div#addexercise.button
        p Add an exercise.

    section.phase.post(data-phase='{"3":"post"}')
      div.field
        label(for='immediate_protein') Immediate protein
        select(name='immediate_protein', id='immediate_protein')
          option(value='true') Yes
          option(value='false') No

    div#next.button
      p Next →

    input(type='submit', value="Save")
