extends layout

block content
  h1 Tell me about your round of training.

  form#log(method="post", data-currentphase="start")
    section.phase.start.current(data-phase='{"0":"start"}')
      div#startnow.button
        p Starting right now. I'll log results as I go.

      div#logprevious.button
        p I'm logging a previous training round.

    section.phase.setup(data-phase='{"1":"setup"}')
      div.field
        label(for='current_weight') How much do you weigh?
        input(type='text', name='current_weight', id='current_weight')

      div.field
        label(for='date') Date
        input(type='text', name='date', id='date')
      
      div.field
        label(for='day') Day
        select(name='day', id='day')
          option(value='sunday') Sunday
          option(value='monday') Monday
          option(value='tuesday') Tuesday
          option(value='wednesday') Wednesday
          option(value='thursday') Thursday
          option(value='friday') Friday
          option(value='saturday') Saturday

      div.field
        label(for='time') Time
        input(type='text', name='time', id='time')
        
    section.phase.exercise(data-phase='{"2":"exercise"}')
      fieldset.exercise0
        div.field
          label(for='exercise0_name') Which exercise are you doing?
          select(name='exercise0_name', id='exercise0_name')
            option(value='barbell_squats') Barbell squats
            option(value='chinups') Chinups
            option(value='ezbar_curls') Curls with EZ-bar
            option(value='dips') Dips
            option(value='dumbbell_curls') Dumbbell curls
            option(value='dumbbell_side_raises') Dumbbell side raises
            option(value='dumbbell_front_raises') Dumbbell front raises
            option(value='flat_bench') Flat bench
            option(value='pullups') Pullups
            option(value='pushups') Pushups

        div#starttimer.button
          p Start the timer.

        div.field
          label(for='exercise0_stretched_before') Stretched before?
          select(name='exercise0_stretched_before', id='exercise0_stretched_before')
            option(value='true') Yes
            option(value='false') No

        fieldset.exercise0_set0
          legend Set 1
          div.field
            label(for='exercise0_set0_weight') Weight
            input(name='exercise0_set0_weight', id='exercise0_set0_weight')

          div.field
            label(for='exercise0_set0_reps') Reps
            input(name='exercise0_set0_reps', id='exercise0_set0_reps')

          div.field
            label(for='exercise0_set0_rest') Rest
            input(name='exercise0_set0_rest', id='exercise0_set0_rest')
        
          div.field
            label(for='exercise0_set0_comment') Comment
            textarea(name='exercise0_set0_comment', id='exercise0_set0_comment')
        
        div#addset.button
          p Add a set.

        div.field
          label(for='exercise0_stretched_after') Stretched after?
          select(name='exercise0_stretched_after', id='exercise0_stretched_after')
            option(value='true') Yes
            option(value='false') No

      fieldset.exercise1
        div.field
          label(for='exercise1_name') Which exercise are you doing?
          select(name='exercise1_name', id='exercise1_name')
            option(value='barbell_squats') Barbell squats
            option(value='chinups') Chinups
            option(value='ezbar_curls') Curls with EZ-bar
            option(value='dips') Dips
            option(value='dumbbell_curls') Dumbbell curls
            option(value='dumbbell_raises') Dumbbell raises
            option(value='flat_bench') Flat bench
            option(value='pullups') Pullups
            option(value='pushups') Pushups

        div#starttimer.button
          p Start the timer.

        div.field
          label(for='exercise1_stretched_before') Stretched before?
          select(name='exercise1_stretched_before', id='exercise1_stretched_before')
            option(value='true') Yes
            option(value='false') No

        fieldset.exercise1_set0
          legend Set 1
          div.field
            label(for='exercise1_set0_weight') Weight
            input(name='exercise1_set0_weight', id='exercise1_set0_weight')

          div.field
            label(for='exercise1_set0_reps') Reps
            input(name='exercise1_set0_reps', id='exercise1_set0_reps')

          div.field
            label(for='exercise1_set0_rest') Rest
            input(name='exercise1_set0_rest', id='exercise1_set0_rest')
        
          div.field
            label(for='exercise1_set0_comment') Comment
            textarea(name='exercise1_set0_comment', id='exercise1_set0_comment')
        
        fieldset.exercise1_set1
          legend Set 2
          div.field
            label(for='exercise1_set1_weight') Weight
            input(name='exercise1_set1_weight', id='exercise1_set1_weight')

          div.field
            label(for='exercise1_set1_reps') Reps
            input(name='exercise1_set1_reps', id='exercise1_set1_reps')

          div.field
            label(for='exercise1_set1_rest') Rest
            input(name='exercise1_set1_rest', id='exercise1_set1_rest')
        
          div.field
            label(for='exercise1_set1_comment') Comment
            textarea(name='exercise1_set1_comment', id='exercise1_set1_comment')
        
        div#addset.button
          p Add a set.

        div.field
          label(for='exercise1_stretched_after') Stretched after?
          select(name='exercise1_stretched_after', id='exercise1_stretched_after')
            option(value='true') Yes
            option(value='false') No

      fieldset.exercise2
        div.field
          label(for='exercise2_name') Which exercise are you doing?
          select(name='exercise2_name', id='exercise2_name')
            option(value='barbell_squats') Barbell squats
            option(value='chinups') Chinups
            option(value='ezbar_curls') Curls with EZ-bar
            option(value='dips') Dips
            option(value='dumbbell_curls') Dumbbell curls
            option(value='dumbbell_raises') Dumbbell raises
            option(value='flat_bench') Flat bench
            option(value='pullups') Pullups
            option(value='pushups') Pushups

        div#starttimer.button
          p Start the timer.

        div.field
          label(for='exercise2_stretched_before') Stretched before?
          select(name='exercise2_stretched_before', id='exercise2_stretched_before')
            option(value='true') Yes
            option(value='false') No

        fieldset.exercise2_set0
          legend Set 1
          div.field
            label(for='exercise2_set0_weight') Weight
            input(name='exercise2_set0_weight', id='exercise2_set0_weight')

          div.field
            label(for='exercise2_set0_reps') Reps
            input(name='exercise2_set0_reps', id='exercise2_set0_reps')

          div.field
            label(for='exercise2_set0_rest') Rest
            input(name='exercise2_set0_rest', id='exercise2_set0_rest')
        
          div.field
            label(for='exercise2_set0_comment') Comment
            textarea(name='exercise2_set0_comment', id='exercise2_set0_comment')
        
        fieldset.exercise2_set1
          legend Set 2
          div.field
            label(for='exercise2_set1_weight') Weight
            input(name='exercise2_set1_weight', id='exercise2_set1_weight')

          div.field
            label(for='exercise2_set1_reps') Reps
            input(name='exercise2_set1_reps', id='exercise2_set1_reps')

          div.field
            label(for='exercise2_set1_rest') Rest
            input(name='exercise2_set1_rest', id='exercise2_set1_rest')
        
          div.field
            label(for='exercise2_set1_comment') Comment
            textarea(name='exercise2_set1_comment', id='exercise2_set1_comment')
        
        fieldset.exercise2_set2
          legend Set 3
          div.field
            label(for='exercise2_set2_weight') Weight
            input(name='exercise2_set2_weight', id='exercise2_set2_weight')

          div.field
            label(for='exercise2_set2_reps') Reps
            input(name='exercise2_set2_reps', id='exercise2_set2_reps')

          div.field
            label(for='exercise2_set2_rest') Rest
            input(name='exercise2_set2_rest', id='exercise2_set2_rest')
        
          div.field
            label(for='exercise2_set2_comment') Comment
            textarea(name='exercise2_set2_comment', id='exercise2_set2_comment')
        
        div#addset.button
          p Add a set.

        div.field
          label(for='exercise2_stretched_after') Stretched after?
          select(name='exercise2_stretched_after', id='exercise2_stretched_after')
            option(value='true') Yes
            option(value='false') No

      div#addexercise.button
        p Add an exercise.

    section.phase.post(data-phase='{"3":"post"}')
      div.field
        label(for='immediate_protein') Immediate protein
        select(name='immediate_protein', id='immediate_protein')
          option(value='true') Yes
          option(value='false') No

    div#next.button
      p Next →

    input#save(type='submit', value="Save")
