/* base styles */

body
  padding: 50px
  font: 14px "adelle-sans", "Helvetica Neue", Helvetica, Arial, sans-serif
a
  color: #00B7FF



/* /log */

.phase
  display: none
.phase.current
  display: block



/* /exercises */

.inactive
  display: none

.active
  display: block
